{% extends 'base.html' %}

{% block content %}
    <br><br>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Sell Product</h1>
    </div>

    <form method="POST" action="{{ url_for('sell_product', product_name=product.name) }}">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="quantity">Quantity Sold:</label>
            {{ form.quantity(class="form-control", id="quantity") }}
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}